<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GameData</key>
	<dict>
		<key>SavedLevel</key>
		<false/>
		<key>SavedLayout</key>
		<array/>
		<key>SavedMoves</key>
		<integer>0</integer>
		<key>LevelNum</key>
		<integer>0</integer>
		<key>NextLevelNum</key>
		<integer>1</integer>
		<key>Levels</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>Level_1</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_2</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_3</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_4</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_5</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_6</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_7</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_8</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_9</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_10</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_11</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_12</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_13</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_14</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_15</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_16</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_17</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_18</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_19</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_20</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_21</string>
				<key>Moves</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_22</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_23</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_24</string>
				<key>Moves</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_25</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_26</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_27</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_28</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_29</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_30</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_31</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_32</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_33</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_34</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_35</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_36</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_37</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_38</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_39</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_40</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_41</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_42</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_43</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_44</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_45</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_46</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_47</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_48</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_49</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_50</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_51</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_52</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_53</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_54</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_57</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_58</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_59</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_60</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Level_61</string>
				<key>Moves</key>
				<integer>0</integer>
				<key>Flower</key>
				<false/>
			</dict>
		</array>
	</dict>
</dict>
</plist>
